* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
    font-family: 'Ubuntu', sans-serif;
}

body {
    position: relative;
    width: 100%;
    height: 3188px;
    background: #FFFFFF;
}

header {
    position: absolute;
    width: 100%;
    height: 117px;
    left: 0px;
    top: 0px;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

header ul {
    display: flex;
    justify-content: space-around;
    color: #FDFDFD;
    position: absolute;
    width: 309px;
    height: 23px;
    left: 1400px;
    top: 47px;
    text-transform: uppercase;
}

header ul li a {
    color: #FDFDFD;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 22.98px;
}

header img {
    position: absolute;
    width: 244px;
    height: 77px;
    left: 82px;
    top: 20px;
}

article {
    display: flex;
    position: absolute;
    width: 1032px;
    height: 1743px;
    left: 204px;
    top: 228px;
}

.foto-post {
    position: absolute;
    width: 1032px;
    height: 465px;
    left: 255px;
    top: 150px;
    background: #C4C4C4;
}

.titulos h1 {
    position: absolute;
    width: 758px;
    height: 46px;
    left: 600px;
    top: 228px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    text-align: center;
    align-items: center;
    color: #FF4081;
}

.titulos h4 {
    position: absolute;
    width: 200px;
    height: 21px;
    left: 900px;
    top: 286px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #9D9D9D;
}

.post {
    position: absolute;
    width: 1032px;
    height: 1061px;
    left: 255px;
    top: 700px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'kern' off;
    color: #000000;
}

h2 {
    color: #419488;
}

.cursos {
    position: absolute;
    width: 100%;
    height: 899px;
    left: 0px;
    top: 2082px;
    background: #F7F7F7;
    align-items: center;
    text-align: center;
}

.cursos p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.cursos button {
    background: #FF4081;
    border-radius: 62px;
    border: #FF4081;
    color: white;
    cursor: pointer;
}

.cursos-h1 {
    height: 57px;
    width: 528px;
    left: 700px;
    top: 80px;
    position: absolute;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    color: #FF4081;
}

.div-pai {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    
}

.div1 img {
    height: 279.0556640625px;
    width: 288px;
    left: 156px;
    top: 2319px;
    border-radius: 0px;
    left: 10.83%;
    right: 69.17%;
    top: 72.74%;
    bottom: 18.51%;
}

.div2 img {
    height: 279.0556640625px;
    width: 238px;
    left: 623px;
    top: 2319px;
    border-radius: 0px;
    left: 43.26%;
    right: 40.21%;
    top: 72.74%;
    bottom: 18.51%;
}

.div3 img {
    height: 279.0556640625px;
    width: 238px;
    left: 623px;
    top: 2319px;
    border-radius: 0px;
    box-sizing: border-box;
    left: 74.03%;
    right: 12.99%;
    top: 72.75%;
    bottom: 18.5%;
}

h3 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FF4081;
}

.div1 h3 {
    width: 344px;
    height: 35.71px;
    left: 128px;
    top: 2650.16px;
}

.div2 h3 {
    width: 267px;
    height: 35.71px;
    left: 606px;
    top: 2647.7px;
}

.div3 h3 {
    width: 304px;
    height: 35.71px;
    left: 1007px;
    top: 2647.7px;
}

.div1 p {
    width: 293px;
    height: 73.89px;
    left: 154px;
    top: 2714.2px;
}

.div2 p {
    width: 293px;
    height: 73.89px;
    left: 593px;
    top: 2711.73px;
}

.div3 p {
    width: 293px;
    height: 73.89px;
    left: 1013px;
    top: 2711.73px;
}

.div1 button {
    width: 233px;
    height: 62.81px;
    left: 184px;
    top: 2820.11px;
    align-items: center;
}

.div2 button {
    width: 233px;
    height: 62.81px;
    left: 623px;
    top: 2817.64px;
}

.div3 button {
    width: 233px;
    height: 62.81px;
    left: 1043px;
    top: 2817.64px;
}

footer {
    position: absolute;
    width: 100%;
    height: 207px;
    left: 0px;
    top: 2981px;
} 

footer section {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #419488;
}

footer img {
    position: absolute;
    left: 8.89%;
    right: 84.27%;
    top: 25.6%;
    bottom: 25.4%;
}

footer ul {
    display: flex;
    position: absolute;
    left: 43.26%;
    right: 51.81%;
    top: 25.6%;
    bottom: 34.3%;
    flex-direction: column;
    justify-content: space-between;
}

footer ul li a {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 23px;
    color: #FFFFFF;
}

.prof {
    box-sizing: border-box;
    position: absolute;
    cursor: pointer;
    left: 70.42%;
    right: 9.51%;
    top: 24.15%;
    bottom: 51.21%;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    color: #FFFFFF;
    background-color: #419488;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

.link {
    box-sizing: border-box;
    position: absolute;
    cursor: pointer;
    left: 70.42%;
    right: 9.51%;
    top: 55.07%;
    bottom: 20.29%;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    color: #FFFFFF;
    background-color: #419488;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}